@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
/* font-family: 'Teko', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */


html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  text-align: center;
}

button {
  cursor: pointer;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  background: #D1FF87;
  border-bottom: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav button {
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
  width: 18%;
  padding: 15px;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid #000000;
  border-width: 0px 1px 0px 1px;
}

nav button:focus {
  border: solid #000000;
  background-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 3px 1px 3px;
  height: 90%;
}


/* HOME */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, #FFFFFF -70.72%, rgba(255, 255, 255, 0) 100%), #B143B4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_home {
  width: 100%;
}

#who_title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 10.25rem;
  font-weight: 500;
  line-height: 10.5rem;
}

#rides_title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 6.125rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

#sign_and_image {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 50%;
  height: 30%;
}

.columnTxt {
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Teko', sans-serif;
  margin: 0;
  padding-left: 6rem;
  line-height: 3rem;
}

#bottomTxt {
  font-weight: 300;
  padding-left: 11rem;
  padding-bottom: 1rem;
}

.button_curved {
  background: #E7855B;
  border: 2px solid #000000;
  box-shadow: 0px 0px 0px #000000;
  border-radius: 25px;
  padding: 0.25rem 2.5rem;
  transition: 0.3s;
}

.button_curved:hover {
  background-color: #000000;
  color: #E7855B;
  border: 2px solid #E7855B;
}

/* .button_curved:active {
  border: 4px solid #000000;
  background: #a15b3d;
} */

.button_curved span {
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 1.625rem;
}

#img_home {
  height: 200px;
  border: 2px solid #000000;
  border-radius: 5px;

}

.bg_rectangle {
  background: #FFE2BF;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  width: 50%;
  padding: 0.5rem;
}

#bottom_home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom_title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

#bottom_content {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 0.5rem 3rem;
}

#bottom_content span {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

#botton_SIGNUP {
  background-color: #D1FF87;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  margin: 0% 1%;
  border: 1px solid #000000;
  width: 14%;
  transition: 0.3s;
}

#botton_SIGNUP:hover {
  background-color: #000000;
  color: #D1FF87;
  border: 1px solid #D1FF87;
}

#botton_DMUS {
  background-color: transparent;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  margin: 0% 1%;
  border: 1px solid #000000;
  width: 14%;
  transition: 0.3s;
}

#botton_DMUS:hover {
  background-color: #000000;
  color: #FFE2BF;
}

/* SIGN UP/LOG IN BACKGROUND */

.bg_rectangle.formBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  width: 50%;
}

#formTitleBold {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  padding-top: 0.5%;
}

/* PROGRESSBAR */
.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 2%;
}

.lineBetweenSteps {
  border: 1px solid #000000;
  width: 13%;
  height: 0px;
  margin-bottom: 1rem;
}

.stepProgressBar {
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  height: 1.4rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.currentStep {
  color: #D1FF87;
  background-color: #000000;
}

.nextStep {
  color: #000000;
  background-color: #D1FF87;
  border-radius: 3px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1rem;
  width: 6rem;
  margin-top: 0.3rem;
}

.currentStep p {
  font-weight: 600;
}

.formSignUpLogIn {
  background: #D1FF87;
  width: 40%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.formSignUpLogIn p {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}

.belowTitle_form {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #8B898B;
  display: flex;
  justify-content: center;
}

.formSignUpLogIn form {
  display: flex;
  flex-direction: column;
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
  align-items: center;
}

.formSignUpLogIn input {
  background-color: transparent;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  color: #8B8B8B;
  background: #D1FF87;
  border: 1px solid #000000;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  width: 80%;
}

.formSignUpLogIn_label {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 0.8rem;
  text-align: left;
  width: 80%;
  padding: 0rem 0.6rem;
  border: none;
}

#signUpError {
  color: red;
  border: none;
}

.formSignUpLogIn_label:hover {
  font-weight: 700;
  font-style: italic;
  font-size: 0.6rem;
  border: none;
}

.submitButton {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Chakra Petch', sans-serif;
  color: #D1FF87;
  padding: 0.1rem 2rem;
  margin-top: 0.5rem;
  transition: 0.3s;
}

.submitButton:hover{
background-color: #D1FF87;
color: #000000;
border: 1px solid #000000;
}

.inputStepTwo {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.inputStepTwo span {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
}

.inputStepTwo input {
  width: 50%;
  text-align: right;
}

.inputStepTwo select {
  background-color: transparent;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  color: #8B8B8B;
  background: #D1FF87;
  border: 1px solid #000000;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  width: 49%;
  /* text-align: right; */
  direction: rtl;
  -webkit-appearance: none;
}

.selectCustomArrowLeft {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 64%;
}

.arrowFa {
  transform: rotate(180deg);
  height: 2rem;
  width: 40%;
  border: 2.5px solid #000000;
}

/* LOGIN FORM */

#belowTitle_login {
  margin: 0.5rem;
}

/* TITLE-LOGGED */
#title_logged {
  width: 100%;
  text-align: left;
}

#who_logged {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 6.25rem;
  font-weight: 500;
  line-height: 6.5rem;
}

#rides_logged {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4.125rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* FIND FRIENDS */
.findFriends_container {
  width: 100%;
  height: 70%;
  padding-top: 0.5%;
  display: flex;
  justify-content: space-around;
}

.columnFindFriends {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  width: 90%;
  display: flex;
}

.columnFilters {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.titleOfFilter {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1.5%;
  margin-top: 5%;
}

.clicableTypes {
  display: flex;
  align-items: end;
  margin-bottom: 5%;
}

.clickedButtonType {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #000000;
  border: 2px solid #000000;
  padding: 0.125rem 0.4rem;
  color: #D1FF87;
}

.notClickedButtonType {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #D1FF87;
  border: solid #000000;
  border-width: 2px 2px 5px 2px;
  padding: 0.125rem 0.4rem;
}

.notClickedButtonType:hover {
  border-bottom: 4px solid #000000;
}

.notClickedButtonType:active {
  border-bottom: 2px solid #000000;
}

.rangeFilter {
  display: flex;
  align-items: end;
}

.rangeMinus {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 3rem;
  line-height: 1.3rem;
  background-color: #D1FF87;
  border: solid #000000;
  border-width: 2px 0px 2px 0px;
  padding: 0rem 0.5rem;
  margin-bottom: 5%;
}

.inputRange {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #8B8B8B;
  border: 3px solid #000000;
  background-color: #D1FF87;
  width: 2em;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2.5%;
}

.inputRange::-webkit-outer-spin-button,
.inputRange::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputRange[type=number] {
  -moz-appearance: textfield;
}

.searchButton {
  padding: 0rem 1.5rem;
}

.inputLocation {
  margin-top: 2%;
  background-color: #D1FF87;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  border: 3px solid #000000;
  width: 8.5em;
  text-align: center;
}

/* LIST */
.data_list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 2%;
  background: linear-gradient(180deg, #FFFFFF -117.46%, rgba(217, 217, 217, 0) 100%);
  width: 90%;
  height: 100%;
}

.row_user {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.row_user:focus{
  background-color: #E7855B;
}

.avatar_rowUser{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 4.6rem;
  width: 4.6rem;
}

.avatarNoPhoto_rowUser {
  background: #D1FF87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 4.6rem;
  width: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userFa {
  font-size: 2.5em;
}

.details_rowUser {
  text-align: left;
  padding: 0% 2%;
}

.nameAndAge_rowUser {
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.rateAndComments_userRow {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.yourFriendTxt_userRow {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

.description_rowUser {
  width: 50%;
  height: 4rem;
  font-family: 'Teko';
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 0.7rem;
  background: #D1FF87;
  border-width: 1px 2px 3px 2px;
  border-style: solid;
  border-color: #000000;
  padding: 3px;
  text-align: justify;
}

.profile_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
}

.inviteToFrfiends-background{
  margin-top: 5px;
  width: 70%;
}

#inviteToFriends_button{
  background-color: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 15px;
  padding: 0rem 2.5rem;
  transition: 0.3s;
}

#inviteToFriends_button:hover {
  background-color: #000000;
  color: #D1FF87;
  border: 2px solid #D1FF87;
}

#textAreaMessageWithInvite{
  border: 2px solid #000000;
  width: 80%;
  margin-top: 5px;
  font-family: 'Chakra Petch';
}

#photos_profile {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 60%;
  border: 2px solid #000000;
  background: linear-gradient(180deg, #FFFFFF -150%, rgba(255, 255, 255, 0) 100%), #BF65C2;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.75);
}

.defaultPhotoInUserDetails{
  background-color: #D1FF87;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 90%;
  padding: 0rem 4.5rem;
  margin: 0rem 0.5rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoInUserDetails{
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 14.313rem;
  margin: 0rem 0.5rem;
}

#detailsAndComments {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  justify-content: space-around;
}

#detailsType {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

#detailsType span{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

#detailsData{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
}

#detailsData span{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

#commentsInProfileDetails{
  display: flex;
  flex-direction: column;
}

#commentsInProfileDetails span{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

#commentsHole {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid #000000;
  background: linear-gradient(180deg, #FFFFFF -150%, rgba(255, 255, 255, 0) 100%), #BF65C2;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.75);
}

.commentBg{
  background-color: #FFE2BF;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 0.1rem 0.3rem;
  width: 11.25rem;
}

.commentAuthor {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-align: left;
  padding: 0.188rem 0.375rem;
}

.commentsContent{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  text-align: left;
  padding: 0rem 0.375rem;
}

.commentDate{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    text-align: right;
    padding-right: 0.375rem;
}

.starsRate{
  font-size: 0.6rem;
  text-align: left;
  padding-left: 0.375rem;
}

/* PROFILE */

#profile_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#commentsAndEventsProfile_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32rem;
  background: linear-gradient(180deg, #FFFFFF -150%, rgba(255, 255, 255, 0) 100%), #BF65C2;
}

.columnTitle_profile{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.scrollYColumn_profile{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
}

.photos_profile_row {
  display: flex;
  flex-direction: row;
  justify-content: center;   
  text-align: center;
  padding: 1rem;
}

.avatarProfile_fauser{  
  background-color: #D1FF87;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 10rem;
  padding: 0rem 2.5rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarProfile{
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 10rem;
  width: 10rem;
}

#profile_main_avatar{
  z-index: 1;
}

#upload_photo{
  z-index: 2;
  background: rgba(231, 133, 91, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  border: none;
  position: absolute;
  display: flex;
  align-self: flex-end;
  width: 10rem;
  height: 3.438rem;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
}

#upload_photo:hover {
  background: rgba(231, 133, 91, 0.6);
}

.data_profile_row{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.title_details_left{
  text-align: left;
}

.title_details_right{
  text-align: right;
}

#collumn_data_profile_left{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#collumn_data_profile_center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#collumn_data_profile_right{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

}

.user_details{
  font-family: 'Teko';
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top: 0.5rem;
}

.user_details_type {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #8B8B8B;
}

#user_details_type_location_1{
  padding-top: 0.5rem;
}

#user_details_type_location_2{
  padding-top: 0.2rem;
}

.description_profile_row{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1rem;
}

.description_profile_title{
  background: #D1FF87;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #000000;
  padding: 0px 0.5rem;
  text-align: center;
  font-size: 0.88rem;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
}

#decription_rowUser_main_profile{
  font-weight: 600;
  font-size: 0.688rem;
  width: 57%;
  height: 4rem;
}

textarea{
  resize: none;
}

#save_changes_profile{
  background: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0rem 1rem;
  border: 1px solid #000000;
  width: 57% ;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#save_changes_profile:hover{
  background-color: #000000;
  color: #D1FF87;
  border: 1px solid #D1FF87;
}

#upload_photos{
  background: #FFE2BF;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  display: flex;
  z-index: 0;
  position : absolute;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.upload_button{
  background: #D1FF87;
  border: 2px solid #000000;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
  height: 6.25rem;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0.2rem;
  transition: 0.3s;
}

.upload_button:hover {
  background-color: #000000;
  color: #D1FF87;
  border: 2px solid #D1FF87;
}

#saveUpdatedPhotos_button{
  height: 6.438rem;
}

#files{
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
}


#uploadPhoto_previewImg{
  display: flex;
  margin: 0rem 0.625rem;
  height: 6.25rem;
  margin: 0.2rem;
}

.uploadedPhotos_button{
  border: none;
  background-color: transparent;
}

#upload_photo_table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.upload_img{
  margin: 0.25rem;
}

#upload_photo_buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.avatarUploaded{
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 6.25rem;
}

.avatarUploaded:hover{
  box-shadow: 0px 2px 20px 5px rgba(246, 0, 0, 0.5);
}

#dontHavePhotosSpan{
  padding: 0.75rem;
}

#upload_photo_css{
  background: #D1FF87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 4.6rem;
  width: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

/* CHAT */

.chatFriends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 19%;
  width: 100%;
}

.chatFriends span{
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.87rem;
  text-align: left;
  width: 95%;
}

.friendsRectangle {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 95%;
  height: 95%;
  border: 2px solid #000000;
}

.friendAvatarAndName{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameOfFriend_avatar{
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.7rem;
}

.friend_avatar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 3rem;
  width: 3rem;
  margin: 0rem 0.5rem;
}

.userFa_friendsChat {
  background-color: #D1FF87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 70%;
  padding: 0.7rem 0.7rem;
  margin: 0rem 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pendinguserFa{
  opacity: 50%;
}

.chatsBackground {
  margin-top: 2%;
  height: 80%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatsRectangle {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 97%;
  border: 2px solid #000000;
}

.bgChatRow{
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-width: 0px 0px 2px 0px;
  border-color: #868686;
  border-style: solid;
  transition: 0.3s;
}

.bgChatRow:focus {
  border: 3px solid #000000;
}

.bgChatRow:hover {
  background-color: #D1FF87;
}

.chatRowAvatar{
  background: #D1FF87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 1.7rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;
}

.chatRowNameAndLastMesage_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}

.chatRowName {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.chatRowLastMessage{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 0.688rem;
  color: #868686;
}

.chatRowDate {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 0.688rem;
  margin-right: 0.438rem;
}

#textAreaComment{
  background: #ECECEC;
  border: 2px solid #000000;
  border-radius: 2px;
  width: 90%;
  height: 40%;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 0.688rem;
}

.confirmComment_button{
  background-color: #D1FF87;
  border: 2px solid #000000;
  font-family: 'Chakra Petch', sans-serif;
}

.chatWindow {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
  padding: 0px;
}

.closeWindow_button{
  border: none;
  background-color: transparent;
}

.chatHeader {
  background-color: #D1FF87;
  width: 100%;
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatHeader span {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.75rem;
  margin-left: 1rem;
}

#closeWindow {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.chatContainer {
  height: 19rem;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 4px;
}

.friendInvitation_container{
  text-align: center;
  margin: auto;
  width: 60%;
}

.invitationButtons{
  background: #D1FF87;
  border: 1px solid #000000;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.625rem;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.6rem;
}

.messageContainerLoggedUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.messageAuthor {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 1rem;
  margin: 0rem 1.8rem;
}

.messageLoggedUser {
  background-color: #D1FF87;
  border: 2px solid #000000;
  border-radius: 5px;
  max-width: 70%;
  padding: 0.5rem 0.8rem;
  margin-right: 1.375rem;
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.8rem;
  text-align: right;
  word-break:break-all;
}

.messageContainerCorrespondingUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.messageCorrespondingUser {
  background-color: #ECECEC;
  border: 2px solid #000000;
  border-radius: 5px;
  max-width: 70%;
  padding: 0.5rem 0.8rem;
  margin-left: 1.375rem;
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.8rem;
  text-align: right;
  word-break:break-all;
}

.chat_input {
  background: #ECECEC;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 90%;
  height: 10%;
  display: flex;
}

.sendMessage_button {
  background: #D1FF87;
  border-width: 0px 2px 0px 0px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.75rem;
  transition: 0.3s;
}

.sendMessage_button:hover {
  background-color: #000000;
  color: #D1FF87;
}

#textAreaMessage {
  border: none;
  background-color: transparent;
  width: 100%;
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  padding: 0.4rem;
}

#rateUser_button{
  border: none;
  background-color: transparent;
  font-family: 'Chakra Petch';
  font-weight: 400;
}

#rateUser_button:hover{
  font-weight: 700;
}

/* EVENTS */

.eventsContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchOrCreateEvents_bg{
  width: 25%;
}

.searchOrCreate_button{
  border: 1px solid #383838;
  background-color: transparent;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.938rem;
  padding: 0.625rem 1.5rem;
  /* transition: 0.3s; */
}

.searchOrCreate_button:hover {
  border: 2px solid #383838;
  font-weight: 600;
}

.searchOrCreate_buttonClicked{
  border: 2px solid #000000;
  background-color: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.938rem;
  padding: 0.625rem 1.5rem;
}
input[type=file] {
  visibility: hidden;
}

label {
  border: 2px solid #000000;
  background-color: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.938rem;
  padding: 0.625rem 1.5rem;
}

label:hover {
  border: 2px solid #D1FF87;
  background-color: #000000;
  color: #D1FF87;
}

.createEventContainer {
  width: 40%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createTitleEvent{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.5rem;
  background-color: transparent;
  text-align: center;
  border: 1px solid #383838;
}

.eventDetails{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.eventDetailsInputs{
  display: flex;
  flex-direction: column;
}

.eventDetailInput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.eventDetailInput span{
  margin-bottom: 0.3rem;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.2rem;
}

.eventDetailsInputs input{
  background-color: transparent;
  text-align: right;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 0.3rem;
  width: 20%;
  border: 1px solid #383838;
  color: #000000;
}

.inputWithUnit{
  text-align: right;
}

.eventDetailInput select{
  background-color: transparent;
  text-align: right;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 0.3rem;
  width: 20%;
  border: 1px solid #383838;
}

#createEventDescription{
  background-color: transparent;
  border: 1px solid #383838;
  border-radius: 2px;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
  width: 50%;
  height: 3.75rem;
  margin-top: 1rem;
  text-align: center;
}

.locationDateSurfaceLabels{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 24px;
  margin-top: 0.5rem;
}

.locationDateSurfaceInputs{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 13px;
  margin: 0.1rem;
  background-color: transparent;
  text-align: center;
  border: 1px solid #383838;
  padding: 0rem 0.8rem;
}

.eventStatus_button{
  border: 1px solid #383838;
  background-color: transparent;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.5rem;
  padding: 0.3rem 0.2rem;
}

.eventStatus_buttonClicked{
  border: 2px solid #000000;
  background-color: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.5rem;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.5rem;
}

#createEvent_button{
  background: #D1FF87;
  border: 2px solid #000000;
  border-radius: 2px;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  transition: 0.3s;
}

#createEvent_button:hover{
  background-color: #000000;
  color: #D1FF87;
  border: 2px solid #D1FF87;
}

.livePreviewContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

#livePreviewLabel{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 2rem;
}

.bgEventThumbnail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.125rem;
  height: 12.2rem;
  margin: 5px;
}

.eventThumbnailTitle{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.7rem 1.7;
}

.eventThumbnailDetailRow{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 0.3rem;
}

.eventThumbnailLabels{
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.75rem;
}

.eventThumbnailDetail{
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.75rem;
}

.eventThumbnailsDescription{
  border: 1px solid #000000;
  font-family: 'Chakra Petch';
  height: 3rem;
  width: 9.3rem;
  font-weight: 600;
  font-size: 9px;
  margin-top: 0.3rem;
  word-break: break-all;
  padding: 0.2rem;
}

.bottomDateEventThumbnail{
  margin-top: 0.3rem;
}

/* SEARCH EVENTS */

.searchEvent_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.events_filtersAndDetailsContainer{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 3.6rem;
}

.filtersAndDetailsEventsBg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
}

.eventDetailsAndFilters_title {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.125rem;
}

#eventDetails_createdBy {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.75rem;
}

#eventDetails_author {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.625rem;
}

#eventDetails_participantsContainer{
  display: flex;
  justify-content: space-between;
  width: 11.25rem;
  margin-top: 0.6rem;
}

#eventDetails_participantsLabel{
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.75rem;
}

#eventDetails_participantsNumber{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.75rem;
}

#eventDetails_mapIMG{
  width: 11.25rem;
  height: 7.031rem;
  background-color: #8B898B;
  margin-top: 0.6rem;
}

#zoomedImg_container{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

#zoomedMapIMG{
  height: 70%;
}

.closeZoom_button{
  color: #FFFFFF;
}

#closeZoom_container{
  width: 60%;
  display: flex;
  justify-content: end;
}

#eventDetails_clickToZoom{
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.625rem;
  background-color: transparent;
  border: none;
}

#askAboutEvent_container{
  display: flex;
}

#askAboutEvent_button{
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.625rem;
  border: 1px solid #000000;
  background-color: #D1FF87;
}

#askAboutEvent_textarea{
  background-color: #D1FF87;
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 0.625rem;
}

.eventDetails_buttons{
  background: #D1FF87;
  border: 1px solid #000000;
  width: 5rem;
  height: 3.25rem;
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 0.625rem;
  margin: 0.6rem 0.6rem;
  transition: 0.3s;
}

.eventDetails_buttons:hover{
background-color: #000000;
color: #D1FF87;
border: 1px solid #D1FF87;
}

#eventDetails_date{
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.625rem;
  margin-top: 0.6rem;
}

.eventFilters_filterRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  margin-top: 0.6rem;
}

.eventFilters_filterLabel{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.9rem;
}

#minusRange {
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0rem 0.25rem;
}

.valueRangeInput{
  border: 1px solid #000000;
  background-color: transparent;
  width: 2.1rem;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.9rem;
  color: #000000;
}

.unit{
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.6rem;
}

.eventFilters_select{
  background-color: transparent;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid #000000;
}

.eventFiltersLocationInput{
  background-color: transparent;
  text-align: center;
  font-family: 'Chakra Petch';
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid #000000;
  width: 45%;
}

.eventFilters_searchButton{
  background-color: #E7855B;
  margin-top: 1rem;
  transition: 0.3s;
}

.eventFilters_searchButton:hover {
  background-color: #000000;
  color: #E7855B;
  border: 2px solid #E7855B;
}

#events_midContainer{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(180deg, #FFFFFF -117.46%, rgba(217, 217, 217, 0) 100%);
  width: 60%;
  height: 30rem;
  margin-top: 0.6rem;
}
