@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
/* font-family: 'Teko', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */


html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  text-align: center;
}

/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #D1FF87;
  border-bottom: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav button {
  font-size: 1.5rem;
  font-weight: 600;
  width: 18%;
  padding: 15px;
  border: none;
  background-color: transparent;
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* border: 1px solid #000000; */
}


/* HOME */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, #FFFFFF -70.72%, rgba(255, 255, 255, 0) 100%), #B143B4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_home {
  width: 100%;
}

#who_title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 10.25rem;
  font-weight: 500;
}

#rides_title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 6.125rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

#sign_and_image {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 50%;
  height: 30%;
}

.columnTxt {
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Teko', sans-serif;
  margin: 0;
  padding-left: 6rem;
  line-height: 3rem;
}

#bottomTxt {
  font-weight: 300;
  padding-left: 11rem;
  padding-bottom: 1rem;
}

.button_curved {
  background: #E7855B;
  border: 2px solid #000000;
  box-shadow: 0px 0px 0px #000000;
  border-radius: 25px;
  padding: 0.25rem 2.5rem;
}

.button_curved span {
  font-family: 'Chakra Petch';
  font-weight: 500;
  font-size: 1.625rem;
}

#img_home {
  height: 200px;
  border: 2px solid #000000;
  border-radius: 5px;

}

.bg_rectangle {
  background: #FFE2BF;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  width: 50%;
  padding: 0.5rem;
}

#bottom_home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom_title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

#bottom_content {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 0.5rem 3rem;
}

#bottom_content span {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

#botton_SIGNUP {
  background-color: #D1FF87;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  margin: 0% 1%;
  border: 1px solid #000000;
  width: 14%;
}

#botton_DMUS {
  background-color: transparent;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  margin: 0% 1%;
  border: 1px solid #000000;
  width: 14%;
}

/* SIGN UP/LOG IN BACKGROUND */

.bg_rectangle.formBackground {
  display: flex;
  flex-direction: column;
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.25rem;
  width: 50%;
}

#formTitleBold {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  padding-top: 2%;
}

/* PROGRESSBAR */
.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.lineBetweenSteps {
  border: 1.5px solid #000000;
  width: 15%;
  height: 0px;
}

.stepProgressBar {
  font-family: 'Teko', sans-serif;
  font-size: 1.4rem;
  height: 1.8rem;
  width: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.currentStep {
  color: #D1FF87;
  background-color: #000000;
}

.nextStep {
  color: #000000;
  background-color: #D1FF87;
}

.stepNames {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 0.55rem;
}